
#input-box{
    width: 100%;
    text-align: center;
}
.center{
    margin-left: 50%;
    transform: translate(-50%);
}
.text-color{
    color: #fff;
    font-family: sans-serif;
}
#result{
    overflow-y: scroll;

}

#type-box{
    width:20%;
    text-align: center;
}
@media only screen and (max-width:457px){

     body{
         background: red;
     }
 }
    
@media only screen and (max-width:310px){
#type-box{
    width:40%;
    
}

#input-box::placeholder{
    opacity: 0;
}
}
@media only screen and (max-width:230px){
    #type-box::placeholder{
        opacity: 0;
    }
}